.footer__back {
  background-color: $raising-black;
  height: 8rem;
}

.footer__back-text {
  color: $white;
  display: flex;
  justify-content: center;
}

.footer__content {
  margin-top: 3%;
}

.footer__content-text {
  color: $white;
  justify-content: space-between;
  display: inline;
}
