.description__graph {
  animation: graph 3s ease-in-out 0s infinite;
}

@keyframes graph {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.description__cont {
  margin-top: 5%;
}

.prices {
  background-image: url('../images/bg-price.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 100%;
}

.prices__card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  word-wrap: break-word;
  background-color: $white;
  margin-top: 10%;
}

ul li {
  font-family: $raleway;
  line-height: 2rem;
}
