
  #graph {
     animation: opacidad 3s infinite;
  }
  @keyframes opacidad {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

.prices {
  background-image: url('../images/bg-price.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 100%;
}

.prices__card {
  width: 20rem;
  height: 50rem;
  background-color: $white;
  margin-top: 10%;
}

ul li {
  font-family: $raleway;
}
